.configuration {
  margin: 10px 10px 0 10px;
}

.configurator__objects-list {
  margin-top: 5px;
}

.configurator__folders-list {
  margin-top: 10px;
}

.configuration__objects-list_active {
  background: #b7dbfc;
}

.configuration__create-object_form-item {
  margin-bottom: 5px;
}