.container {
  margin-top: 60px;
  margin-bottom: 100px;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #fff;
}

